@page
@using Open_MediaServer
@using Open_MediaServer.Database.Schema
@using Open_MediaServer.Utils
@model Open_MediaServer.Frontend.Pages.Index

@{
    Layout = "_Layout.cshtml";

    var mediaTableQuery = Program.Database.MediaDatabase.Table<DatabaseSchema.Media>();
    var userTableQuery = Program.Database.UserDatabase.Table<DatabaseSchema.User>();
    int uploadCount = await mediaTableQuery.CountAsync();
    int userCount = await userTableQuery.CountAsync();
    int totalContentSize = (await mediaTableQuery.ToListAsync()).Sum(media => media.ContentSize);
    string contentSize = StringUtils.FormatBytesWithIdentifier(totalContentSize);
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - Home</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Index/Index.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="window-container">
    <div class="index-container">
        <div class="index-container-children-flex">
            <div class="index-container-children index-container-children-start">
                <div class="stats-items-container stats-fade-text loading-text">
                    <div style="animation: fade-in-move-down 2s;">
                        SERVING @uploadCount UPLOAD@{
                            if (uploadCount > 1 || uploadCount <= 0)
                            {
                                <text>S</text>
                            }
                        }
                    </div>
                    <div style="animation: fade-in-move-down 1.5s;">
                        HANDLING @userCount USER@{
                            if (userCount > 1 || userCount <= 0)
                            {
                                <text>S</text>
                            }
                        }
                    </div>
                    <div style="animation: fade-in-move-down 1s;">
                        STORING
                        @{
                            if (totalContentSize <= 0)
                            {
                                <text>NOTHING</text>
                            }
                            else
                            {
                                <text>@contentSize</text>
                            }
                        }
                    </div>
                </div>
                <div class="stats-footer-text">
                    @Program.ConfigManager.Config.StatsFooterText
                </div>
            </div>
            <div class="index-container-children sub-instance-container">
                <div class="instance-container-text">
                    INSTANCES
                </div>
                <div class="instance-container-list">
                    @{
                        if (Program.ConfigManager.Config.AssociatedInstances.Length == 0)
                        {
                            <div class="instance-container-empty">
                                No other avaliable instances!
                            </div>
                        }
                        else
                        {
                            <ul class="instance-container-item">
                                @{
                                    foreach (var url in Program.ConfigManager.Config.AssociatedInstances)
                                    {
                                        <li>
                                            <a class="instance-container-item-link" href="@url">@url</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <footer>
        2023 @@ <a href="https://github.com/StrateimTech">StrateimTech</a> - <a href="https://github.com/StrateimTech/Open-MediaServer">Open-MediaServer Instance</a>
    </footer>
</div>
</body>
</html>