@page "/login"
@using Open_MediaServer
@using Open_MediaServer.Backend.Schema
@using Open_MediaServer.Utils
@model UserSchema.User

@{
    Layout = "_Layout.cshtml";

    if (Request is {Cookies: { } } && Request.Cookies["user_session"] != null && UserUtils.IsAuthed(Request.Cookies["user_session"]))
    {
        Response.Redirect("/account");
        return;
    }
}

@section AdditionalHead
{
    <title>@Program.ConfigManager.Config.FrontendName Media - Login</title>
    <link rel="stylesheet" href="~/Frontend/Assets/css/Login/Login.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div class="login-flex">
    <div class="login-form-text">
        Login
    </div>
    @using (Html.BeginForm("PostLogin", "UserApi", FormMethod.Post, new {@class = "login-form", @autocomplete = "off"}))
    {
        @Html.ValidationSummary(true)
        @Html.TextBoxFor(x => x.Username, null, new {@placeholder = "Username", @required = "required"})
        @Html.TextBoxFor(x => x.Password, null, new {@placeholder = "Password", @required = "required", @type = "password"})
        if (Program.ConfigManager.Config.AllowRegistering)
        {
            <label class="login-register-text">Don't have an account? <a class="register-href" href="/register">Register</a></label>
        }
        <div>
            @Html.ValidationMessage("ErrorMessage", null, new {@class = "login-error-text"}, null)
        </div>
        <button type="submit">Login</button>
    }
</div>
</body>
</html>